<!DOCTYPE HTML>
{% load cms_tags menu_tags staticfiles sekizai_tags ganalytics %}

{#Internal JS#}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/namespace.js"></script>
{% endaddtoblock %}

{#External JS#}
{% addtoblock "external-js" %}
{% endaddtoblock %}

{#CSS#}
{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css"/>
{% endaddtoblock %}

<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
</head>
<body>
{% cms_toolbar %}
<ul class="menu">
    {% show_menu 0 1 100 100 "menu.html" %}
</ul>
{% block content %}
{% endblock content %}

{% render_block "external-js" %}
{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
{% ganalytics %}
</body>
</html>
