{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div>
  {% placeholder "feature" %}
</div>
<div>
  {% placeholder "content" %}
</div>
{% endblock content %}
